development: &common
  enable_logging: yes
  autoload_paths:
    - app/models
    - lib
  default_timezone: 'Pacific Time (US & Canada)'

test:
  <<: *common
  enable_logging: yes

staging:
  <<: *common

production:
  <<: *common
  enable_logging: no
